{% extends 'base.html' %}
{% block content %}
<!-- Main Start -->
    <main>
		<!-- Faqs -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Perguntas Frenquentes</h1>
			<div class="accordion" id="accordionExample">
			{% for faq in faq %}
				<div class="accordion-item">
			    <h2 class="accordion-header" id="headingOne">
			      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne{{forloop.counter}}	" aria-expanded="true" aria-controls="collapseOne">
					  {{faq.pergunta}}
			      </button>
			    </h2>
			    <div id="collapseOne{{forloop.counter}}" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
			      <div class="accordion-body">
					  {{faq.resposta|safe}}<br>
			      </div>
			    </div>
			{% endfor %}
			  </div>
			  </div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}